<article
	class="component m-b5 b-br2"
	id="anchor-{{ entry.title | slugify }}"
>

	<header class="m-b3">
		<h3 class="m0">{{ entry.title }}</h3>
		{% if entry.description %}
		<div class="m0 m-y2 t-ideal-length">{{ entry.description | markdownify }}</div>
		{% endif %}
	</header>

	<div>
		<div class="component-display b b-br1 p-x4 p-y3">
			{{ entry.content | markdownify }}
		</div>

		<details class="m-t2">
			<summary class="t-tt-u">Code Example</summary>
			{% highlight html %}{{ entry.content }}{% endhighlight %}
		</details>
	</div>

</article>
