<header class="flex flex-ai-c gap5 flex-wrap flex-j-sb m-b5 b-b p4">

	<a href="/" class="p-r0 flex-g1" rel="home">
		<img class="mw2" src="/assets/images/logo.svg" width="100" height="100" title="Elemental CSS Logo" />
	</a>

	<h1 class="f4 m0 flex-g1 a-srt">
		<a class="p3 t-td-n" href="{{ "/" | absURL }}" rel="home">{{ .Site.Params.Title }}</a>
	</h1>

	<nav class="flex gap4">

		<a href="/docs/">Docs</a>
		<a href="/components/">Components</a>
		<a href="/showcase/">Showcase</a>

	</nav>

	<!-- <form class="flex-g1">
		<input id="userinput" class="w100p" type="search" placeholder="Search docs..." aria-label="Search docs..." autocomplete="off">
		<div id="suggestions"></div>
	</form> -->

	<nav class="flex gap3">
		<a href="https://mastodon.social/@binarymoon">{% include icons/mastodon.svg %}<span class="screen-reader-text">Mastodon</span></a>
		<a href="https://github.com/BinaryMoon/ElementalCSS">{% include icons/github.svg %}<span class="screen-reader-text">Github</span></a>
	</nav>

</header>
